<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>مدیریت اطلاعات فنی &amp; کاردانش</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicons/favicon.ico">
    <link rel="manifest" href="~/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <partial name="_Styles" />
</head>

<body>
    <main class="main" id="top">

        <div class="container" data-layout="container">
            @RenderBody()

        </div>
    </main>
    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
</body>

</html>