<div class="card-deck">
    <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
        <div class="bg-holder bg-card" style="background-image:url(img/illustrations/corner-1.png);"></div>
        <div class="card-body position-relative">
            <h6>مدارس</h6>
            <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-warning" data-countup='{"count":@ViewBag.Schools,"format":"comma","prefix":""}'>0</div>
            <a class="font-weight-semi-bold fs--1 text-nowrap" asp-action="index" asp-controller="school">نمایش<span class="fas fa-angle-right ml-1" data-fa-transform="down-1"></span></a>
        </div>
    </div>
    <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
        <div class="bg-holder bg-card" style="background-image:url(img/illustrations/corner-2.png);"></div>
        <!--/.bg-holder-->
        <div class="card-body position-relative">
            <h6>هنرآموزان</h6>
            <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif" data-countup='{"count":@ViewBag.Staffs,"format":"comma","prefix":""}'>0</div>
            <a class="font-weight-semi-bold fs--1 text-nowrap" asp-action="index" asp-controller="staff">نمایش<span class="fas fa-angle-right ml-1" data-fa-transform="down-1"></span></a>
        </div>
    </div>
    <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
        <div class="bg-holder bg-card" style="background-image:url(img/illustrations/corner-3.png);"></div>
        <div class="card-body position-relative">
            <h6>رشته ها</h6>
            <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-info" data-countup='{"count":@ViewBag.Majors,"format":"comma","prefix":""}'>0</div>
            <a class="font-weight-semi-bold fs--1 text-nowrap" asp-action="index" asp-controller="major">نمایش<span class="fas fa-angle-right ml-1" data-fa-transform="down-1"></span></a>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card h-lg-100">
        <div class="card-header">
            <h5 class="mb-0">سهم رشته ها</h5>
        </div>
        <div class="card-body bg-light">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <div id="echart-pie-majors" style="height: 300px; width: 362px;" data-echart-responsive="true"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="mb-0">سمت ها</h5>
        </div>
        <div class="card-body bg-light">
            <div class="row">
                <div class="col-12">
                    <div id="echart-treemap-jobtitles" style="height: 300px;" data-echart-responsive="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>
