@model IEnumerable<FKRM.Application.ViewModels.NotificationViewModel>
<div class="dropdown-menu dropdown-menu-right dropdown-menu-card" aria-labelledby="navbarDropdownNotification">
    <div class="card card-notification shadow-none" style="max-width: 20rem">
        <div class="card-header">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h6 class="card-header-title mb-0">پیام ها</h6>
                </div>
            </div>
        </div>
        <div class="list-group list-group-flush font-weight-normal fs--1">
            <div class="list-group-title border-bottom">جدید</div>
            @foreach (var notification in Model)
            {
                <div class="list-group-item">
                    <a class="notification notification-flush bg-200" href="#!">
                        <div class="notification-avatar">
                            <div class="avatar avatar-2xl mr-3">
                                <img class="rounded-circle" src="~/img/team/3-thumb.png" alt="" />
                            </div>
                        </div>
                        <div class="notification-body">
                            <p class="mb-1"><strong>@notification.Subject</strong> @notification.Body</p>
                            <span class="notification-time">
                            <span class="mr-1" role="img" aria-label="Emoji">💬</span>
                            @notification.AddedDate</span>
                        </div>
                    </a>
                </div>
            }
        </div>
        <div class="card-footer text-center border-top"><a class="card-link d-block" asp-action="index" asp-controller="notification">دیگر پیام ها</a></div>
    </div>
</div>